openapi: '3.0.3' # we should move to 3.1.0
info:
    title: 'Humanity API'
    description: ''
    contact:
        name: 'Humanity'
        url: 'https://www.humanity.com'
        email: 'support@humanity.com'
    version: '2.0.0'
servers: 
    - url: 'https://www.humanity.com'
    - url: 'https://www.humanity.engineering'
tags: 
    - name: admin
    - name: autobuildshifts
    - name: autoschedule
    - name: availability
    - name: availabilitybeta
    - name: babylon
    - name: billing
    - name: breakrules
    - name: breaks
    - name: budget
    - name: cloudelements
    - name: company
    - name: dashboard
    - name: demand_driven_scheduling
    - name: employees
    - name: forecast
    - name: group
    - name: integrations
    - name: leave
    - name: location
    - name: messaging
    - name: mobile
    - name: payroll
    - name: position
    - name: reports
    - name: reports-v2
    - name: sales
    - name: schedule
    - name: schedule_rule_builder
    - name: schedulebeta
    - name: shifts
    - name: staff
    - name: tags
    - name: tcp
    - name: terminal
    - name: timeclock
    - name: trade
    - name: training
    - name: training-v2
    - name: utility
    - name: workday
    - name: workunit
paths: {
    "/api/v2/about/release": {
        "get": {
            "tags": [],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/autobuildshifts/create": {
        "post": {
            "tags": [
                "autobuildshifts"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "forecast_id",
                                "position_ids",
                                "shift_durations",
                                "from",
                                "to"
                            ],
                            "properties": {
                                "forecast_id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "position_ids": {
                                    "type": "string"
                                },
                                "shift_durations": {
                                    "type": "string"
                                },
                                "from": {
                                    "type": "string"
                                },
                                "to": {
                                    "type": "string"
                                },
                                "group_slots": {
                                    "type": "string"
                                },
                                "open_shifts": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/autobuildshifts/get_preview": {
        "get": {
            "tags": [
                "autobuildshifts"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/autobuildshifts/save": {
        "put": {
            "tags": [
                "autobuildshifts"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "preview_id"
                            ],
                            "properties": {
                                "preview_id": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/autoschedule/create": {
        "post": {
            "tags": [
                "autoschedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "start_date",
                                "end_date",
                                "type"
                            ],
                            "properties": {
                                "start_date": {
                                    "type": "string"
                                },
                                "end_date": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "rules": {
                                    "type": "string"
                                },
                                "position_ids": {
                                    "type": "string"
                                },
                                "location_ids": {
                                    "type": "string"
                                },
                                "employee_ids": {
                                    "type": "string"
                                },
                                "skill_ids": {
                                    "type": "string"
                                },
                                "fill_option": {
                                    "type": "string"
                                },
                                "execution_mode": {
                                    "type": "string"
                                },
                                "max_num_of_employees_per_empty_shift": {
                                    "type": "integer"
                                },
                                "priorities": {
                                    "type": "string"
                                },
                                "exclude_custom_rules": {
                                    "type": "string"
                                },
                                "exclude_custom_rule_groups": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/autoschedule/get_preview": {
        "get": {
            "tags": [
                "autoschedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/autoschedule/save": {
        "put": {
            "tags": [
                "autoschedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "preview_id"
                            ],
                            "properties": {
                                "preview_id": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/availabilities/future/{id}": {
        "put": {
            "tags": [
                "availability"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "id",
                                "flag"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "flag": {
                                    "type": "string"
                                },
                                "times": {
                                    "type": "string"
                                },
                                "time_type": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "availability"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/backups": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "filename",
                                "filedata",
                                "filelength",
                                "mimetype"
                            ],
                            "properties": {
                                "filename": {
                                    "type": "string"
                                },
                                "filedata": {
                                    "type": "string"
                                },
                                "filelength": {
                                    "type": "string"
                                },
                                "mimetype": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/backups/": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "filename",
                                "filedata",
                                "filelength",
                                "mimetype"
                            ],
                            "properties": {
                                "filename": {
                                    "type": "string"
                                },
                                "filedata": {
                                    "type": "string"
                                },
                                "filelength": {
                                    "type": "string"
                                },
                                "mimetype": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/backups/{id}": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "filename",
                                "filedata",
                                "filelength",
                                "mimetype"
                            ],
                            "properties": {
                                "filename": {
                                    "type": "string"
                                },
                                "filedata": {
                                    "type": "string"
                                },
                                "filelength": {
                                    "type": "string"
                                },
                                "mimetype": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/billing/account/default-payment-method": {
        "put": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "ref_id",
                                "work_email"
                            ],
                            "properties": {
                                "ref_id": {
                                    "type": "string"
                                },
                                "work_email": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/billing/account/invoices": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/billing/account/invoices/download/{invoice_file_id}": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "invoice_file_id",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "string",
                    "pattern": "[a-zA-Z0-9\\-]+"
                }
            }
        ]
    },
    "/api/v2/billing/account/summary": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/billing/catalog": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/billing/defaultPricingPlans": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/billing/details": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/billing/digitalSignature": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/billing/subscription": {
        "post": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "ref_id",
                                "product_plan_id",
                                "charge_id",
                                "quantity",
                                "email",
                                "billingPeriod"
                            ],
                            "properties": {
                                "ref_id": {
                                    "type": "string"
                                },
                                "product_plan_id": {
                                    "type": "string"
                                },
                                "charge_id": {
                                    "type": "string"
                                },
                                "quantity": {
                                    "type": "integer"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "billingPeriod": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/billing/subscription/{account_number}": {
        "get": {
            "tags": [
                "billing"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "account_number",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "string",
                    "pattern": "[a-zA-Z0-9\\-]+"
                }
            }
        ]
    },
    "/api/v2/blocked-leave-date": {
        "get": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "day": {
                                    "type": "string"
                                },
                                "start_date": {
                                    "type": "string"
                                },
                                "end_date": {
                                    "type": "string"
                                },
                                "leave_type": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/blocked-leave-date/{id}": {
        "get": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "delete": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/blocked-leave-dates": {
        "get": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/break-rules": {
        "get": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "conditions"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "conditions": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "put": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "id",
                                "name",
                                "conditions"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "conditions": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/break-rules/": {
        "get": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "conditions"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "conditions": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "put": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "id",
                                "name",
                                "conditions"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "conditions": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/break-rules/{id}": {
        "get": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "conditions"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "conditions": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "put": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "id",
                                "name",
                                "conditions"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "conditions": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "breakrules"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/breakrules": {
        "post": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "id",
                                "break",
                                "paid"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "break": {
                                    "type": "integer"
                                },
                                "paid": {
                                    "type": "string"
                                },
                                "min": {
                                    "type": "string"
                                },
                                "max": {
                                    "type": "string"
                                },
                                "exact": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/breakrules/{id}": {
        "delete": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/breaks/resolve-conflicts": {
        "post": {
            "tags": [
                "breaks"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "start_date",
                                "end_date",
                                "shift_assignments"
                            ],
                            "properties": {
                                "start_date": {
                                    "type": "string"
                                },
                                "end_date": {
                                    "type": "string"
                                },
                                "shift_assignments": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/budgets": {
        "post": {
            "tags": [
                "budget"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "from_date",
                                "to_date"
                            ],
                            "properties": {
                                "from_date": {
                                    "type": "string"
                                },
                                "to_date": {
                                    "type": "string"
                                },
                                "hours": {
                                    "type": "string"
                                },
                                "money": {
                                    "type": "string"
                                },
                                "location_id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "position_id": {
                                    "$ref": "#/components/schemas/id"
                                }
                            }
                        }
                    }
                }
            }
        },
        "get": {
            "tags": [
                "budget"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/budgets/{id}": {
        "put": {
            "tags": [
                "budget"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "id"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/id"
                                },
                                "hours": {
                                    "type": "string"
                                },
                                "money": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/cloudelements/initialsyncfinished": {
        "post": {
            "tags": [
                "cloudelements"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "instance_id",
                                "resource_type",
                                "integration_name"
                            ],
                            "properties": {
                                "instance_id": {
                                    "type": "integer"
                                },
                                "resource_type": {
                                    "type": "integer"
                                },
                                "integration_name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/cloudelements/synclog": {
        "get": {
            "tags": [
                "cloudelements"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "cloudelements"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "integration_type",
                                "status",
                                "resource_type",
                                "action",
                                "execution_id",
                                "start_timestamp",
                                "end_timestamp"
                            ],
                            "properties": {
                                "integration_type": {
                                    "type": "integer"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "resource_type": {
                                    "type": "integer"
                                },
                                "action": {
                                    "type": "string"
                                },
                                "execution_id": {
                                    "type": "string"
                                },
                                "start_timestamp": {
                                    "type": "string"
                                },
                                "end_timestamp": {
                                    "type": "string"
                                },
                                "total": {
                                    "type": "integer"
                                },
                                "successful": {
                                    "type": "integer"
                                },
                                "failed": {
                                    "type": "integer"
                                },
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/cloudelements/timeclocksyncdetails": {
        "get": {
            "tags": [
                "cloudelements"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "cloudelements"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "integration_type",
                                "formula_id",
                                "formula_instance_id",
                                "execution_id",
                                "status",
                                "from_time",
                                "to_time",
                                "initial_sync_time",
                                "sync_start_time",
                                "sync_end_time"
                            ],
                            "properties": {
                                "integration_type": {
                                    "type": "integer"
                                },
                                "formula_id": {
                                    "type": "integer"
                                },
                                "formula_instance_id": {
                                    "type": "integer"
                                },
                                "execution_id": {
                                    "type": "integer"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "from_time": {
                                    "type": "string"
                                },
                                "to_time": {
                                    "type": "string"
                                },
                                "initial_sync_time": {
                                    "type": "string"
                                },
                                "sync_start_time": {
                                    "type": "string"
                                },
                                "sync_end_time": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/collisions": {
        "get": {
            "tags": [
                "schedule"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/companies": {
        "get": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/companies/": {
        "get": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/companies/multi": {
        "get": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "post": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "accounts"
                            ],
                            "properties": {
                                "accounts": {
                                    "type": "string"
                                },
                                "clone_positions": {
                                    "type": "string"
                                },
                                "clone_settings": {
                                    "type": "string"
                                },
                                "clone_training": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/companies/multi/": {
        "get": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/companies/multi/{id}": {
        "get": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/companies/{id}": {
        "get": {
            "tags": [
                "group"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/id"
                }
            }
        ]
    },
    "/api/v2/company/availabilities/timeframeweekly": {
        "get": {
            "tags": [
                "availability"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/company/bootstrap": {
        "get": {
            "tags": [
                "company"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/company/business": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/company/details": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "put": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "address": {
                                    "type": "string"
                                },
                                "phone": {
                                    "type": "string"
                                },
                                "fax": {
                                    "type": "string"
                                },
                                "state": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/company/group_perms": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "put": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "group_perms"
                            ],
                            "properties": {
                                "group_perms": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/company/integrations_settings": {
        "get": {
            "tags": [
                "company"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/company/integrations_settings/": {
        "get": {
            "tags": [
                "company"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/company/integrations_settings/{entity_type}": {
        "get": {
            "tags": [
                "company"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "parameters": [
            {
                "name": "entity_type",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "string",
                    "pattern": "[a-zA-Z0-9\\-_]+"
                }
            }
        ]
    },
    "/api/v2/company/metadata/rbs": {
        "get": {
            "tags": [
                "company"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "put": {
            "tags": [
                "company"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "required": [
                                "settings"
                            ],
                            "properties": {
                                "settings": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/api/v2/company/number_of_requests": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        }
    },
    "/api/v2/company/settings": {
        "get": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            }
        },
        "put": {
            "tags": [
                "admin"
            ],
            "summary": "",
            "description": "",
            "security": [
                {
                    "humanityOAuth2": [],
                    "bearerAuth": []
                }
            ],
            "responses": {
                "200": {
                    "$ref": "#/components/responses/200"
                },
                "500": {
                    "$ref": "#/components/responses/500"
                }
            },
            "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "country": {
                                    "type": "string"
                                },
                                "timezone_id": {
                                    "type": "string"
                                },
                                "language": {
                                    "type": "string"
                                },
                                "date": {
                                    "type": "string"
                                },
                                "24hr": {
                                    "type": "string"
                                },
                                "week_adjust": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "sms": {
                                    "type": "string"
                                },
                                "mobile_push": {
                                    "type": "string"
                                },
                                "email_force": {
                                    "type": "string"
                                },
                                "pref_birthday": {
                                    "type": "string"
                                },
                                "pref_birthday_card": {
                                    "type": "string"
                                },
                                "training": {
                                    "type": "string"
                                },
                                "training_to_pdf": {
                                    "type": "string"
                                },
                                "employee_nameformat": {
                                    "type": "string"
                                },
                                "show_upcoming_birthdays": {
                                    "type": "string"
                                },
                                "send_email_via_emailclient": {
                                    "type": "string"
                                },
                                "pref_allow_req_acc": {
                                    "type": "string"
                                },
                                "security_question": {
                                    "type": "string"
                                },
                                "security_answer": {
                                    "type": "string"
                                },
                                "reports": {
                                    "type": "string"
                                },
                                "visible_staff": {
                                    "type": "string"
                                },
                                "visible_staff_details": {
                                    "type": "string"
                                },
                                "on_now": {
                                    "type": "string"
                                },
                                "employee_files": {
                                    "type": "string"
                                },
                                "edit_profile": {
                                    "type": "string"
                                },
                                "allow_schedulers_to_create_delete_users": {
                                    "type": "string"
                                },
                                "staff_visible_eid": {
                                    "type": "string"
                                },
                                "only_managers_can_change_staff_password": {
                                    "type": "string"
                                },
                                "enable_location_break_rules": {
                                    "type": "string"
                                },
                                "message_wall_on": {
                                    "type": "string"
                                },
                                "message_wall_emp": {
                                    "type": "string"
                                },
                                "message_wall_comments": {
                                    "type": "string"
                                },
                                "messaging_module": {
                                    "type": "string"
                                },
                                "pm": {
                                    "type": "string"
                                },
                                "pm_reply": {
                                    "type": "string"
                                },
                                "ping": {
                                    "type": "string"
                                },
                                "login_facebook": {
                                    "type": "string"
                                },
                                "login_splogo": {
                                    "type": "string"
                                },
                                "autologout": {
                                    "type": "string"
                                },
                                "password_expire": {
                                    "type": "string"
                                },
                                "sort_location": {
                                    "type": "string"
                                },
                                "startday": {
                                    "type": "string"
                                },
                                "max_days_row": {
                                    "type": "string"
                                },
                                "24h_shift": {
                                    "type": "string"
                                },
                                "do_not_initiate_conflicts": {
                                    "type": "string"
                                },
                                "show_midnight": {
                                    "type": "string"
                                },
                                "show_location_in_shift": {
                                    "type": "string"
                                },
                                "show_overnight_shifts": {
                                    "type": "string"
                                },
                                "show_pending_leaves_on_schedule": {
                                    "type": "string"
                                },
                                "scosting": {
                                    "type": "string"
                                },
                                "sched_show_skill": {
                                    "type": "string"
                                },
                                "enable_skill_requirement": {
                                    "type": "string"
                                },
                                "draft": {
                                    "type": "string"
                                },
                                "shift_confirm": {
                                    "type": "string"
                                },
                                "tasks": {
                                    "type": "string"
                                },
                                "oncall_manage": {
                                    "type": "string"
                                },
                                "schedule_notes_permissions": {
                                    "type": "string"
                                },
                                "see_shift_notes_perm": {
                                    "type": "string"
                                },
                                "viewadvance": {
                                    "type": "string"
                                },
                                "visible_overview": {
                                    "type": "string"
                                },
                                "visible_own": {
                                    "type": "string"
                                },
                                "employee_see_vacations": {
                                    "type": "string"
                                },
                                "show_loader": {
                                    "type": "string"
                                },
                                "trade_shifts": {
                                    "type": "string"
                                },
                                "swap_shifts": {
                                    "type": "string"
                                },
                                "visible_coworkers": {
                                    "type": "string"
                                },
                                "shift_drop": {
                                    "type": "string"
                                },
                                "open_overtime": {
                                    "type": "string"
                                },
                                "confirm_trade_before": {
                                    "type": "string"
                                },
                                "confirm_trade_after": {
                                    "type": "string"
                                },
                                "same_day_trades": {
                                    "type": "string"
                                },
                                "shift_autoconfirm": {
                                    "type": "string"
                                },
                                "mintimebshifts": {
                                    "type": "string"
                                },
                                "min_disregard": {
                                    "type": "string"
                                },
                                "dont_show_overlapping_shifts_in_trades": {
                                    "type": "string"
                                },
                                "disable_shift_trade_between_positions": {
                                    "type": "string"
                                },
                                "shift_restricted_period": {
                                    "type": "string"
                                },
                                "shift_acknowledgement": {
                                    "type": "string"
                                },
                                "shift_acknowledgement_notify": {
                                    "type": "string"
                                },
                                "cover_shifts": {
                                    "type": "string"
                                },
                                "work_units": {
                                    "type": "string"
                                },
                                "work_units_employees": {
                                    "type": "string"
                                },
                                "wu_emp_can_see_report": {
                                    "type": "string"
                                },
                                "schedulers_workunit_autoapproved": {
                                    "type": "string"
                                },
                                "employees_workunit_autoapproved": {
                                    "type": "string"
                                },
                                "timeclock": {
                                    "type": "string"
                                },
                                "pre_time_clock": {
                                    "type": "string"
                                },
                                "enable_break_button": {
                                    "type": "string"
                                },
                                "tc_tips": {
                                    "type": "string"
                                },
                                "tc_webcam": {
                                    "type": "string"
                                },
                                "webcam_resolution": {
                                    "type": "string"
                                },
                                "tc_webcam_mobile": {
                                    "type": "string"
                                },
                                "tc_gps": {
                                    "type": "string"
                                },
                                "tc_unavailable_gps": {
                                    "type": "string"
                                },
                                "mandatory_pre_time_clock": {
                                    "type": "string"
                                },
                                "tc_terminal_lock": {
                                    "type": "string"
                                },
                                "tc_require_pos": {
                                    "type": "string"
                                },
                                "tc_require_remote_site": {
                                    "type": "string"
                                },
                                "tc_require_notes": {
                                    "type": "string"
                                },
                                "tc_autoclockout": {
                                    "type": "string"
                                },
                                "tc_address": {
                                    "type": "string"
                                },
                                "timeclock_show_scheduled_details": {
                                    "type": "string"
                                },
                                "timeclock_show_breaks_mts": {
                                    "type": "string"
                                },
                                "restrict_empl_clockinout": {
                                    "type": "string"
                                },
                                "restrict_overlapping_timesheets": {
                                    "type": "string"
                                },
                                "tc_round_to": {
                                    "type": "string"
                                },
                                "tc_round_to_in": {
                                    "type": "string"
                                },
                                "tc_round_to_in_direction": {
                                    "type": "string"
                                },
                                "tc_round_to_out": {
                                    "type": "string"
                                },
                                "tc_round_to_out_direction": {
                                    "type": "string"
                                },
                                "tc_clock_in_timeframe": {
                                    "type": "string"
                                },
                                "tc_clock_in_after_timeframe": {
                                    "type": "string"
                                },
                                "tc_clock_out_timeframe": {
                                    "type": "string"
                                },
                                "tc_clock_out_after_timeframe": {
                                    "type": "string"
                                },
                                "geofencing_distance": {
                                    "type": "string"
                                },
                                "enable_geofencing": {
                                    "type": "string"
                                },
                                "tc_empl_import": {
                                    "type": "string"
                                },
                                "tc_empl_addtime": {
                                    "type": "string"
                                },
                                "tc_empl_edittime": {
                                    "type": "string"
                                },
                                "tc_prevent_empl_edittime_approved": {
                                    "type": "string"
[...]
