openapi: 3.0.0
info:
  title: 'Humanity API'
  contact:
    name: Humanity
    url: 'https://www.humanity.com'
    email: support@humanity.com
  version: '0.1'
servers:
  -
    url: 'https://www.humanity.engineering'
  -
    url: 'https://www.test-1.humanitytcp-dev.com'
  -
    url: 'https://www.test-2.humanitytcp-dev.com'
  -
    url: 'https://www.test-3.humanitytcp-dev.com'
  -
    url: 'https://www.test-4.humanitytcp-dev.com'
  -
    url: 'https://www.dev.humanitytcp-dev.com'
  -
    url: 'https://www.humanitystaging.humanitytcp-dev.com'
paths:
  /api/v2/about/release:
    get:
      tags:
        - About
      summary: 'Release info'
      operationId: getRelease
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {  }
              examples:
                success:
                  summary: 'success response'
                  value: { version: 0.0.0 }
  '/api/v2/integration-api/{vendorType}/companies/{integrationId}':
    get:
      tags:
        - Integrations
      summary: 'Get a company data'
      description: 'Return company data for given integration id'
      operationId: getCompany
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseCompanyObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { id: '32', name: 'HUMCo&98765', domain: team215, created: '1658245670', language: en_US, master: '14', parent: '31', is_parent: '1', unique_id: null, settings: { admin_past_edit: '0', coworkers_contacts: '0', timeout: '0', message_wall_uploads: '0', book_days_off: '1', book_days_off_adv: '-1', book_days_off_max: '30', confirm_trade_before: '0', confirm_trade_after: '1', sms: '1', email: '1', pm: '1', visible_staff: '1', visible_staff_details: '1', visible_coworkers: '1', trade_shifts: '1', future_avail: '1', weekly_avail: '1', visible_overview: '1', visible_own: '1', message_wall_on: '1', message_wall_emp: '1', message_wall_comments: '1', on_now: '1', shift_confirm: '1', shift_drop: '1', shift_autoconfirm: '0', timeclock: '1', tc_terminal_lock: '0', tc_round_to: '-1', tc_round_to_in: '-1', tc_round_to_out: '-1', tc_clock_in_timeframe: '-1', tc_clock_out_timeframe: '-1', tc_autoclockout: '18', tc_webcam: '1', tc_empl_import: '1', tc_empl_addtime: '0', tc_empl_edittime: '0', 24hr: '1', draft: '0', date: 'Mj,Y', startday: '2', currency: '1', viewadvance: '-1', login_splogo: '0', scosting: '1', overtime: '45', start_day: '1', end_day: '7', start_time: '33', end_time: '85', timezone: '-05:00,0' }, admin: { id: '39750', name: Admin, email: null }, staff: [{ id: '39750', name: Admin }], locations: [], positions: false, franchise: '32', integrations: { Workato: [{ id: '14', company_id: 32, integration_type: 11, integration_id: a5f674f452b60155447198c57807f108, extra: null }] } }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', errors: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634137 and integration_type=1234.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    delete:
      tags:
        - Integrations
      summary: 'Delete company'
      description: 'Delete a company with given integration id'
      operationId: deleteCompany
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseCompanyObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [], metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
                error:
                  summary: 'error response'
                  value: { status: 14, data: 'Delete Failed - Your DELETE request failed', errors: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634139 and integration_type=1234.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/company':
    post:
      tags:
        - Integrations
      summary: 'Create or update company'
      description: 'Create or update a company with given integration id'
      operationId: createOrUpdateCompany
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'company create/update payload'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyObject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseCompanyObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                'update success':
                  summary: 'update success response'
                  value: { status: 1, data: { integrations: { Workato: [{ id: '81', company_id: 102, integration_type: 11, integration_id: child24112022, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
                'create success':
                  summary: 'create success response'
                  value: { status: 1, data: { id: '102', name: Company47, domain: team247, created: '1669291806', language: en_US, master: '14', parent: '14', is_parent: '0', unique_id: null, settings: { admin_past_edit: '0', coworkers_contacts: '0', timeout: '0', message_wall_uploads: '0', book_days_off: '1', book_days_off_adv: '-1', book_days_off_max: '30', confirm_trade_before: '0', confirm_trade_after: '1', sms: '1', email: '1', pm: '1', visible_staff: '1', visible_staff_details: '1', visible_coworkers: '1', trade_shifts: '1', future_avail: '1', weekly_avail: '1', visible_overview: '1', visible_own: '1', message_wall_on: '1', message_wall_emp: '1', message_wall_comments: '1', on_now: '1', shift_confirm: '1', shift_drop: '1', shift_autoconfirm: '0', timeclock: '1', tc_terminal_lock: '0', tc_round_to: '-1', tc_round_to_in: '-1', tc_round_to_out: '-1', tc_clock_in_timeframe: '-1', tc_clock_out_timeframe: '-1', tc_autoclockout: '18', tc_webcam: '1', tc_empl_import: '1', tc_empl_addtime: '0', tc_empl_edittime: '0', 24hr: '1', draft: '0', date: 'Mj,Y', startday: '2', currency: '1', viewadvance: '-1', login_splogo: '0', scosting: '1', overtime: '45', start_day: '1', end_day: '7', start_time: '33', end_time: '85', timezone: '-05:00,0' }, admin: { id: '40657', name: Admin, email: null }, staff: [{ id: '40657', name: Admin }], locations: [], positions: false, franchise: '14', integrations: { Workato: [{ id: '81', company_id: 102, integration_type: 11, integration_id: child24112022, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
                'create error':
                  summary: 'create error response'
                  value: { status: 12, data: 'Create Failed - Your CREATE request failed', errors: 'Company already exists.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'create invalid param error':
                  summary: 'create invalid param error response'
                  value: { status: 89, errors: [{ id: 01gjmy8qh4p4nfxphf773jz9sj, status: 400, state: BAD_REQUEST, title: '', detail: 'Field ''clone_positions'' has error: ''Does not have a value in the enumeration [0,1]''', source: [] }] }
                'update error':
                  summary: 'update error response'
                  value: { status: 8, data: 'Missing parameters - Your request is missing a required parameter', errors: 'missing: integration_id', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'update permissions error':
                  summary: 'update permissions error response'
                  value: { status: 13, data: 'Update Failed - Your UPDATE request failed', errors: 'You don''t have permission to perform this action', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/companies':
    get:
      tags:
        - Integrations
      summary: 'Get all companies'
      description: 'Return data about all companies under the company'
      operationId: getCompanies
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCompanyObject'
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [{ id: '19', name: GlobalModernServicesCompanies, parent: '14', is_parent: '1' }, { id: '20', name: GMSAsiaPacific, parent: '19', is_parent: '1' }, { id: '21', name: GlobalModernServicesLtd.(China), parent: '20', is_parent: '1' }, { id: '22', name: GlobalModernServicesSdnBhd(Malaysia), parent: '20', is_parent: '1' }, { id: '23', name: GlobalModernServicesPty.Ltd.(Australia), parent: '20', is_parent: '1' }, { id: '24', name: GlobalModernServicesLTD(NewZealand), parent: '20', is_parent: '1' }, { id: '25', name: GlobalModernServicesK.K.(Japan), parent: '20', is_parent: '1' }], metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'success empty':
                  summary: 'empty response'
                  value: { status: 1, data: [], metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', errors: 'Error happened while fetching integrations data', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employees/{integrationId}':
    get:
      tags:
        - Integrations
      summary: 'Get an employee data'
      description: 'Return employee data for given integration id'
      operationId: getEmployee
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { id: '50000', eid: null, status: '0', deleted: '0', deleted_by: '0', legal_agree: '0', referral: '0', location: '0', wage: null, name: 'Test1 Testing1', nick_name: null, birth_day: '0', birth_month: '0', birth_year: null, email: null, email_confirmed: '0', cell_phone: null, cellphone_confirmed: '0', address: null, city: null, state: null, zip: null, username: 8a0eee06f20ef49cb709a6381572e651, realname: 'Test1 Testing1', timezone_id: null, daily_overtime: '0', updated_at: '2022-05-31 09:14:50', avatar: { small: \/app\/layout\/images\/no_avatar.png, medium: \/app\/layout\/images\/no_avatar.png, large: \/app\/layout\/images\/no_avatar.png }, avatar_url: null, unique_id: null, job_title: null, gender: null, language: null, employee_type: '0', pay_type: '0', work_start_date: '2022-05-31 09:14:50', home_phone: null, last_visit: '0', registered: '1653988490', smsgateway: null, notes: '', pref_shift_autoconfirm: '-1', undertime: '0', overtime: '-1', max_days_row: '-1', monthly_undertime: '0', monthly_overtime: '-1', pref_mtimebshifts: '0', middle_name: null, registration_ip: 172.19.0.6, vendor_id: 11, signature: null, disp_topics: null, disp_posts: null, email_setting: '1', notify_with_post: '0', auto_notify: '0', show_smilies: '1', show_avatars: '1', show_sig: '1', access_keys: '0', dst: '0', time_format: '0', date_format: '0', style: ShiftPlanning, num_posts: '0', last_post: null, last_search: null, last_email_sent: null, admin_note: null, activate_string: null, activate_key: null, pun_bbcode_enabled: '1', pun_bbcode_use_buttons: '1', pun_pm_new_messages: null, pun_pm_long_subject: '1', newsletter: '1', last_sms_sent: '0', p_email: '1', p_phone: '1', notify_sms: '-1', notify_email: '1', e_new_pm: '0', ical: 'https:\/\/team.humanity.engineering\/ical\/df76ccc4a5202fcb5a6ecbcde9580472.ics', startday: '1', pref_caltime: '10', recommendation: '', tut_v2_sched: '0', screen_logger: '0', sc_freq: '-2', newsletter_receiver: '0', pref_sp_skin: '0', inline_wizard_completion: null, title: null, url: null, recommend: '0', jabber: null, icq: null, msn: null, aim: null, yahoo: null, integration_primary_employee_position_id: null, firstname: Test1, lastname: Testing1, tusername: 8a0eee06f20ef49cb709a6381572e651, 24hr: '0', group: '5', last_active: null, timezone: '415', timezone_name: UTC, timezone_info: { timezone_id: '415', name: UTC, name_formatted: '(UTC) UTC', offset: '+0:00', seconds: 0, hours: 0, default: '1', minutes: 0 }, group_name: Employee, status_name: 'Not Activated', schedules: [], skills: [], custom: [], settings: { widgets_layout: [], widgets_enabled: [], schedule_side_panel_visibility: 1, linked_shift_time: 1, schedule_view_selected: week, schedule_timeline_selected: employee, schedule_budget_mode_visibility: 0, schedule_forecast_graph_visibility: 0, forecast_demand_graph_visibility: 0, schedule_copy_rules_choice: 0, shift_skill_filter_visibility: 0, shift_task_assignment_visibility: 0, default_location_panel_visibility: 1, include_ghost_shifts: 0, is_first_schedule_visit: 0, is_new_shift_creation_enabled: 1, notifications: { channel_email: 1, channel_sms: 1, channel_mobile_push: 1, email: [], sms: [], mobile_push: [] } }, permissions: { allow_wage_and_budget: true }, saved_filters: null, integrations: { Workato: [{ id: '1000', employee_id: 50000, company_id: '123', integration_type: 1234, integration_id: 152046dee350017fb2cf8a1a0b634137, extra: null }] }, sso_username: Test_sso_username }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', errors: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634137 and integration_type=1234.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    delete:
      tags:
        - Integrations
      summary: 'Delete employee'
      description: 'Delete an employee with given integration id'
      operationId: deleteEmployee
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [], metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
                error:
                  summary: 'error response'
                  value: { status: 14, data: 'Delete Failed - Your DELETE request failed', errors: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634139 and integration_type=1234.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employee':
    post:
      tags:
        - Integrations
      summary: 'Create or update employee'
      description: 'Create or update an employee with given integration id'
      operationId: createOrUpdateEmployee
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'employee create/update payload'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employeeObject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                'update success':
                  summary: 'update success response'
                  value: { status: 1, data: { id: '50003', eid: null, status: '0', deleted: '0', deleted_by: '0', legal_agree: '0', referral: '0', location: '0', wage: null, name: 'Test_Create_Name Test_Create_LName', nick_name: null, birth_day: '0', birth_month: '0', birth_year: null, email: null, email_confirmed: '0', cell_phone: null, cellphone_confirmed: '0', address: null, city: null, state: null, zip: null, username: 2319370fd2cc163809d957b98c16ad52, realname: 'Test_Update_Name Test_Update_LName', timezone_id: null, daily_overtime: '0', updated_at: '2022-06-01 13:24:46', avatar: { small: \/app\/layout\/images\/no_avatar.png, medium: \/app\/layout\/images\/no_avatar.png, large: \/app\/layout\/images\/no_avatar.png }, avatar_url: null, unique_id: null, job_title: null, gender: null, language: null, employee_type: '0', pay_type: '0', work_start_date: '2022-05-20 12:22:47', home_phone: null, last_visit: '0', registered: '1653049367', smsgateway: null, notes: '', pref_shift_autoconfirm: '-1', undertime: '0', overtime: '-1', max_days_row: '-1', monthly_undertime: '0', monthly_overtime: '-1', pref_mtimebshifts: '0', middle_name: null, registration_ip: 172.18.0.2, vendor_id: 1, signature: null, disp_topics: null, disp_posts: null, email_setting: '1', notify_with_post: '0', auto_notify: '0', show_smilies: '1', show_avatars: '1', show_sig: '1', access_keys: '0', dst: '0', time_format: '0', date_format: '0', style: ShiftPlanning, num_posts: '0', last_post: null, last_search: null, last_email_sent: null, admin_note: null, activate_string: null, activate_key: null, pun_bbcode_enabled: '1', pun_bbcode_use_buttons: '1', pun_pm_new_messages: null, pun_pm_long_subject: '1', newsletter: '1', last_sms_sent: '0', p_email: '1', p_phone: '1', notify_sms: '-1', notify_email: '1', e_new_pm: '0', ical: 'https:\/\/team.humanity.engineering\/ical\/58b0d1f0d42956ae32caa15fa34b7f94.ics', startday: '1', pref_caltime: '10', recommendation: '', tut_v2_sched: '0', screen_logger: '0', sc_freq: '-2', newsletter_receiver: '0', pref_sp_skin: '0', inline_wizard_completion: null, title: null, url: null, recommend: '0', jabber: null, icq: null, msn: null, aim: null, yahoo: null, integration_primary_employee_position_id: null, firstname: Test_Update_Name, lastname: Test_Update_LName, tusername: 2319370fd2cc163809d957b98c16ad52, 24hr: '0', group: '5', last_active: null, timezone: '415', timezone_name: UTC, group_name: Employee, status_name: 'Not Activated', schedules: [], skills: [], custom: [], settings: { widgets_layout: [[timeclock, training, files, upcomingshifts, anniversary, notices], [onnow, leaves, lateforwork, birthdays], [messagewall]], widgets_enabled: [timeclock, training, upcomingshifts, anniversary, onnow, leaves, lateforwork, birthdays, messagewall, files], schedule_side_panel_visibility: 1, linked_shift_time: 1, schedule_view_selected: week, schedule_timeline_selected: employee, schedule_budget_mode_visibility: 0, schedule_forecast_graph_visibility: 0, forecast_demand_graph_visibility: 0, schedule_copy_rules_choice: 0, shift_skill_filter_visibility: 0, shift_task_assignment_visibility: 0, default_location_panel_visibility: 1, include_ghost_shifts: 0, is_first_schedule_visit: 0, is_new_shift_creation_enabled: 1, notifications: { channel_email: 1, channel_sms: 1, channel_mobile_push: 1, email: [], sms: [], mobile_push: [] } }, permissions: { allow_wage_and_budget: true }, saved_filters: null, integrations: { Workato: [{ id: '1003', employee_id: 50003, company_id: '123', integration_type: 1234, integration_id: 152046dee350017fb2cf8a1a0b634135, extra: null }] }, sso_username: Test_sso_username }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
                'create success':
                  summary: 'create success response'
                  value: { status: 1, data: { id: '50004', eid: null, status: '0', deleted: '0', deleted_by: '0', legal_agree: '0', referral: '0', location: '0', wage: null, name: '', nick_name: null, birth_day: '0', birth_month: '0', birth_year: null, email: null, email_confirmed: '0', cell_phone: null, cellphone_confirmed: '0', address: null, city: null, state: null, zip: null, username: 5757161a2c8d208c75f5ffe78a05ea90, realname: null, timezone_id: null, daily_overtime: '0', updated_at: '2022-06-01 14:30:41', avatar: { small: \/app\/layout\/images\/no_avatar.png, medium: \/app\/layout\/images\/no_avatar.png, large: \/app\/layout\/images\/no_avatar.png }, avatar_url: null, unique_id: null, job_title: null, gender: null, language: null, employee_type: '0', pay_type: '0', work_start_date: '2022-06-01 14:30:41', home_phone: null, last_visit: '0', registered: '1654093841', smsgateway: null, notes: '', pref_shift_autoconfirm: '-1', undertime: '0', overtime: '-1', max_days_row: '-1', monthly_undertime: '0', monthly_overtime: '-1', pref_mtimebshifts: '0', middle_name: null, registration_ip: 172.20.0.5, vendor_id: 11, signature: null, disp_topics: null, disp_posts: null, email_setting: '1', notify_with_post: '0', auto_notify: '0', show_smilies: '1', show_avatars: '1', show_sig: '1', access_keys: '0', dst: '0', time_format: '0', date_format: '0', style: ShiftPlanning, num_posts: '0', last_post: null, last_search: null, last_email_sent: null, admin_note: null, activate_string: null, activate_key: null, pun_bbcode_enabled: '1', pun_bbcode_use_buttons: '1', pun_pm_new_messages: null, pun_pm_long_subject: '1', newsletter: '1', last_sms_sent: '0', p_email: '1', p_phone: '1', notify_sms: '-1', notify_email: '1', e_new_pm: '0', ical: 'https:\/\/team.humanity.engineering\/ical\/db86cdebdcb7c88a714ea0078d3e91aa.ics', startday: '1', pref_caltime: '10', recommendation: '', tut_v2_sched: '0', screen_logger: '0', sc_freq: '-2', newsletter_receiver: '0', pref_sp_skin: '0', inline_wizard_completion: null, title: null, url: null, recommend: '0', jabber: null, icq: null, msn: null, aim: null, yahoo: null, integration_primary_employee_position_id: null, firstname: Create_Name, lastname: Create_LastName, tusername: 5757161a2c8d208c75f5ffe78a05ea90, 24hr: '0', group: '5', last_active: null, timezone: '415', timezone_name: UTC, group_name: Employee, status_name: 'Not Activated', schedules: [], skills: [], custom: [], settings: { widgets_layout: [[timeclock, training, files, upcomingshifts, anniversary, notices], [onnow, leaves, lateforwork, birthdays], [messagewall]], widgets_enabled: [timeclock, training, upcomingshifts, anniversary, onnow, leaves, lateforwork, birthdays, messagewall, files], schedule_side_panel_visibility: 1, linked_shift_time: 1, schedule_view_selected: week, schedule_timeline_selected: employee, schedule_budget_mode_visibility: 0, schedule_forecast_graph_visibility: 0, forecast_demand_graph_visibility: 0, schedule_copy_rules_choice: 0, shift_skill_filter_visibility: 0, shift_task_assignment_visibility: 0, default_location_panel_visibility: 1, include_ghost_shifts: 0, is_first_schedule_visit: 0, is_new_shift_creation_enabled: 1, notifications: { channel_email: 1, channel_sms: 1, channel_mobile_push: 1, email: [], sms: [], mobile_push: [] } }, permissions: { allow_wage_and_budget: true }, saved_filters: null, integrations: { Workato: [{ id: '1004', employee_id: 50004, company_id: '1234', integration_type: 1234, integration_id: 152046dee350017fb2cf8a1a0b634142, extra: null }] }, sso_username: Test_sso_username }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
                'create error':
                  summary: 'create error response'
                  value: { status: 12, data: 'Create Failed - Your CREATE request failed', errors: 'Employee already exists.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'create invalid param error':
                  summary: 'create invalid param error response'
                  value: { status: 9, data: 'Invalid parameters - Your request has an invalid parameter type', errors: 'Supplied data has failed validation', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'update error':
                  summary: 'update error response'
                  value: { status: 8, data: 'Missing parameters - Your request is missing a required parameter', errors: 'missing: first_name', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'update permissions error':
                  summary: 'update permissions error response'
                  value: { status: 13, data: 'Update Failed - Your UPDATE request failed', errors: 'You don''t have permission to perform this action', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employees':
    get:
      tags:
        - Integrations
      summary: 'Get all employees'
      description: 'Return data about all employees under the company'
      operationId: getEmployees
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [{ id: '50000', language: null, work_start_date: '2022-05-31 08:53:03', eid: null, name: Test1, firstname: Testing1, lastname: null, username: 8a0eee06f20ef49cb709a6381572e651, email: null, group: '5', status: '0', deleted: '0', wage: null, nick_name: null, birth_day: '0', birth_month: '0', cell_phone: null, home_phone: null, avatar: { small: \/app\/layout\/images\/no_avatar.png, medium: \/app\/layout\/images\/no_avatar.png, large: \/app\/layout\/images\/no_avatar.png }, avatar_url: null, address: null, city: null, state: null, zip: null, notes: '', ical: 'https:\/\/team.humanity.engineering\/ical\/7f8245177d4544ac6787627b2524b54d.ics', registered: '1653987183', p_phone: '1', p_email: '1', location: '0', timezone: '415', job_title: null, updated_at: '2022-05-31 08:53:04', unique_id: null, daily_overtime: '0', vendor_id: 1, schedules: [], skills: [], timezone_name: UTC, group_name: Employee, status_name: 'Not Activated', custom: [], settings: { widgets_layout: [], widgets_enabled: [], schedule_side_panel_visibility: 1, linked_shift_time: 1, schedule_view_selected: week, schedule_timeline_selected: employee, schedule_budget_mode_visibility: 0, schedule_forecast_graph_visibility: 0, forecast_demand_graph_visibility: 0, schedule_copy_rules_choice: 0, shift_skill_filter_visibility: 0, shift_task_assignment_visibility: 0, default_location_panel_visibility: 1, include_ghost_shifts: 0, is_first_schedule_visit: 0, is_new_shift_creation_enabled: 1 }, last_active: null, integrations: { Workato: [{ id: '1000', employee_id: 50000, company_id: '123', integration_type: 1234, integration_id: 152046dee350017fb2cf8a1a0b634137, extra: null }] } }, { id: '50001', language: null, work_start_date: '2022-05-31 09:14:50', eid: null, name: 'Test2 Testing2', firstname: Test2, lastname: Testing2, username: 348232c7e8c1f0ad0243dff8b9c8830e, email: null, group: '5', status: '0', deleted: '0', wage: null, nick_name: null, birth_day: '0', birth_month: '0', cell_phone: null, home_phone: null, avatar: { small: \/app\/layout\/images\/no_avatar.png, medium: \/app\/layout\/images\/no_avatar.png, large: \/app\/layout\/images\/no_avatar.png }, avatar_url: null, address: null, city: null, state: null, zip: null, notes: '', ical: 'https:\/\/team.humanity.engineering\/ical\/df76ccc4a5202fcb5a6ecbcde9580472.ics', registered: '1653988490', p_phone: '1', p_email: '1', location: '0', timezone: '415', job_title: null, updated_at: '2022-05-31 09:14:50', unique_id: null, daily_overtime: '0', vendor_id: 11, schedules: [], skills: [], timezone_name: UTC, group_name: Employee, status_name: 'Not Activated', custom: [], settings: { widgets_layout: [], widgets_enabled: [], schedule_side_panel_visibility: 1, linked_shift_time: 1, schedule_view_selected: week, schedule_timeline_selected: employee, schedule_budget_mode_visibility: 0, schedule_forecast_graph_visibility: 0, forecast_demand_graph_visibility: 0, schedule_copy_rules_choice: 0, shift_skill_filter_visibility: 0, shift_task_assignment_visibility: 0, default_location_panel_visibility: 1, include_ghost_shifts: 0, is_first_schedule_visit: 0, is_new_shift_creation_enabled: 1 }, last_active: null, integrations: { Workato: [{ id: '1001', employee_id: 50001, company_id: '123', integration_type: 1234, integration_id: 152046dee350017fb2cf8a1a0b634138, extra: null }] } }, { id: '50002', language: null, work_start_date: '2022-05-20 14:31:28', eid: null, name: 'Test0 Testing0', firstname: Test0, lastname: Testing0, username: 3ba2b4b2bba7a52eca84ae358878530c, email: ds+testworkato@email.com, group: '5', status: '0', deleted: '0', wage: null, nick_name: null, birth_day: '0', birth_month: '0', cell_phone: null, home_phone: null, avatar: { small: \/app\/layout\/images\/no_avatar.png, medium: \/app\/layout\/images\/no_avatar.png, large: \/app\/layout\/images\/no_avatar.png }, avatar_url: null, address: null, city: null, state: null, zip: null, notes: '', ical: 'https:\/\/team.humanity.engineering\/ical\/d365599be1fea7ca86f6930eb7ca2eac.ics', registered: '1653057088', p_phone: '1', p_email: '1', location: '0', timezone: '415', job_title: null, updated_at: '2022-05-31 08:52:23', unique_id: null, daily_overtime: '0', vendor_id: 1, schedules: [], skills: [], timezone_name: UTC, group_name: Employee, status_name: 'Not Activated', custom: [], settings: { widgets_layout: [], widgets_enabled: [], schedule_side_panel_visibility: 1, linked_shift_time: 1, schedule_view_selected: week, schedule_timeline_selected: employee, schedule_budget_mode_visibility: 0, schedule_forecast_graph_visibility: 0, forecast_demand_graph_visibility: 0, schedule_copy_rules_choice: 0, shift_skill_filter_visibility: 0, shift_task_assignment_visibility: 0, default_location_panel_visibility: 1, include_ghost_shifts: 0, is_first_schedule_visit: 0, is_new_shift_creation_enabled: 1 }, last_active: null, integrations: { Workato: [{ id: '1002', employee_id: 50002, company_id: '123', integration_type: 1234, integration_id: 152046dee350017fb2cf8a1a0b634136, extra: null }] } }], metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'success empty':
                  summary: 'empty response'
                  value: { status: 1, data: [], metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', errors: 'Error happened while fetching integrations data', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/bulk/employees_async':
    post:
      tags:
        - Integrations
      summary: 'Create or update employees - bulk operation'
      description: 'Create or update each employee sent through a bulk request'
      operationId: bulkCreateOrUpdateEmployee
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'bulk employee create/update payload'
        required: true
        content:
          application/json:
            schema:
              properties:
                employees:
                  type: array
                  items: { $ref: '#/components/schemas/bulkEmployeeObject' }
              type: object
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { jobId: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                accepted:
                  summary: 'accepted response'
                  value: { status: 202, data: { jobId: ba5b8b9c-acbd-437d-80ce-76188dd347ee }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Field ''employees[0].integration_id'' has error: ''The property integration_id is required''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employees/{employeeIntegrationId}/leave-types':
    get:
      tags:
        - Integrations
      summary: 'Get all employee leave types data'
      description: 'Return employee leave types data for given integration id'
      operationId: getEmployeeLeaveTypes
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/employeeIntegrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseEmployeeLeaveTypeObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { employee_id: '40657', leave_types: { '70': { enabled: true, entitled: 5, remaining: 5 } }, integrations: { Workato: [{ id: '838', employee_id: 40657, company_id: '102', integration_type: 11, integration_id: 3aa5550b7fe348b98d7b5741afc65534, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', error: 'Unable to find entity where integration_id=9fc006a67f450178bbd416dd1998a70d and integration_type=11.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employees/{employeeIntegrationId}/leave-types/{leaveTypeIntegrationId}':
    post:
      tags:
        - Integrations
      summary: 'Create or update employee leave type'
      description: 'Create or update an employee leave type with given integration ids'
      operationId: createOrUpdateEmployeeLeaveType
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/employeeIntegrationId'
        -
          $ref: '#/components/parameters/leaveTypeIntegrationId'
      requestBody:
        description: 'employee leave type create/update payload'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employeeLeaveTypeObject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseEmployeeLeaveTypeObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                'update success':
                  summary: 'update success response'
                  value: { status: 1, data: { employee_id: '40657', leave_types: { '70': { enabled: true, entitled: 5, remaining: 5 } } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                'update error':
                  summary: 'update error response'
                  value: { status: 8, data: 'Missing parameters - Your request is missing a required parameter', error: 'missing: enabled', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'create invalid param error':
                  summary: 'create invalid param error response'
                  value: { status: 9, data: 'Invalid parameters - Your request has an invalid parameter type', error: 'integer expected: entitled', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'update permissions error':
                  summary: 'update permissions error response'
                  value: { status: 13, data: 'Update Failed - Your UPDATE request failed', errors: 'You don''t have permission to perform this action', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/bulk/employee_leave_types_async':
    post:
      tags:
        - Integrations
      summary: 'Create or update employee leave types - bulk operation'
      description: 'Create or update each employee leave type sent through a bulk request'
      operationId: bulkCreateOrUpdateEmployeeLeaveType
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'bulk employee leave type create/update payload'
        required: true
        content:
          application/json:
            schema:
              properties:
                employee_leave_types:
                  type: array
                  items: { $ref: '#/components/schemas/bulkEmployeeLeaveTypeObject' }
              type: object
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { jobId: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                accepted:
                  summary: 'accepted response'
                  value: { status: 202, data: { jobId: ba5b8b9c-acbd-437d-80ce-76188dd347ee }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Field ''employee_leave_types[0].employee_integration_id'' has error: ''The property employee_integration_id is required''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employees/{employeeIntegrationId}/positions/{positionIntegrationId}':
    get:
      tags:
        - Integrations
      summary: 'Get an employee position data'
      description: 'Return employee position data for given integration ids'
      operationId: getEmployeePosition
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/employeeIntegrationId'
        -
          $ref: '#/components/parameters/positionIntegrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseEmployeePositionObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { id: 38820104, employee_id: 40050, position_id: 1464980, created_by: 39778, date: 1663433073, wage: 9, ratecard: null, payroll_ratecard_id: null, payroll_wage: null, vendor_id: 11, integrations: { Workato: [{ id: '939', employee_position_id: 38820104, company_id: '60', integration_type: 11, integration_id: 9fc006a67f450178bbd416dd1998a70d-fed90ff655851044988f0d48bf4500e2, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634137 and integration_type=11' }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
        - Integrations
      summary: 'Create or update employee position'
      description: 'Create or update an employee position with given integration ids'
      operationId: createOrUpdateEmployeePosition
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/employeeIntegrationId'
        -
          $ref: '#/components/parameters/positionIntegrationId'
      requestBody:
        description: 'employee create/update payload'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employeePositionObject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseEmployeePositionObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                'update success':
                  summary: 'update success response'
                  value: { status: 1, data: { id: 38820104, employee_id: 40050, position_id: 1464980, created_by: 39778, date: 1663433073, wage: 9, ratecard: null, payroll_ratecard_id: null, payroll_wage: null, vendor_id: 11, integrations: { Workato: [{ id: '939', employee_position_id: 38820104, company_id: '60', integration_type: 11, integration_id: 9fc006a67f450178bbd416dd1998a70d-fed90ff655851044988f0d48bf4500e2, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                'create success':
                  summary: 'create success response'
                  value: { status: 1, data: { id: 38820104, employee_id: 40050, position_id: 1464980, created_by: 39778, date: 1663433073, wage: null, ratecard: null, payroll_ratecard_id: null, payroll_wage: null, vendor_id: 11, integrations: { Workato: [{ id: '939', employee_position_id: 38820104, company_id: '60', integration_type: 11, integration_id: 9fc006a67f450178bbd416dd1998a70d-fed90ff655851044988f0d48bf4500e2, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                'create error':
                  summary: 'create error response'
                  value: { status: 12, data: 'Create Failed - Your CREATE request failed', error: 'Employee position already exists.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'create invalid param error':
                  summary: 'create invalid param error response'
                  value: { status: 9, data: 'Invalid parameters - Your request has an invalid parameter type', error: 'Supplied data has failed validation', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'update permissions error':
                  summary: 'update permissions error response'
                  value: { status: 13, data: 'Update Failed - Your UPDATE request failed', errors: 'You don''t have permission to perform this action', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    delete:
      tags:
        - Integrations
      summary: 'Delete employee position'
      description: 'Delete an employee position with given integration ids'
      operationId: deleteEmployeePosition
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/employeeIntegrationId'
        -
          $ref: '#/components/parameters/positionIntegrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseEmployeePositionObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [], metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                error:
                  summary: 'error response'
                  value: { status: 14, data: 'Delete Failed - Your DELETE request failed', errors: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634139 and integration_type=11.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/employees/{employeeIntegrationId}/positions':
    get:
      tags:
        - Integrations
      summary: 'Get all employee positions'
      description: 'Return data about all employee positions under the company'
      operationId: getEmployeePositions
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/employeeIntegrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseEmployeePositionObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [{ id: 38820106, employee_id: 40050, position_id: 1464767, created_by: 39778, date: 1663435078, wage: 0, ratecard: 0, payroll_ratecard_id: 0, payroll_wage: null, vendor_id: 11, integrations: { Workato: [{ id: '941', employee_position_id: 38820106, company_id: '60', integration_type: 11, integration_id: 9fc006a67f450178bbd416dd1998a70d-fd72fab7db654fa3adbbe83ca23c43cb, extra: null }] } }, { id: 38820105, employee_id: 40050, position_id: 1464980, created_by: 39778, date: 1663434069, wage: 0, ratecard: 0, payroll_ratecard_id: 0, payroll_wage: null, vendor_id: 11, integrations: { Workato: [{ id: '940', employee_position_id: 38820105, company_id: '60', integration_type: 11, integration_id: 9fc006a67f450178bbd416dd1998a70d-fed90ff655851044988f0d48bf4500e2, extra: null }] } }], metadata: [], error: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'success empty':
                  summary: 'empty response'
                  value: { status: 1, data: [], metadata: [], error: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', error: 'Error happened while fetching integrations data', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/bulk/employee_positions_async':
    post:
      tags:
        - Integrations
      summary: 'Create or update employee positions - bulk operation'
      description: 'Create or update each employee position sent through a bulk request'
      operationId: bulkCreateOrUpdateEmployeePosition
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'bulk employee position create/update payload'
        required: true
        content:
          application/json:
            schema:
              properties:
                employee-positions:
                  type: array
                  items: { $ref: '#/components/schemas/bulkEmployeePositionObject' }
              type: object
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEmployeePositionObject'
              examples:
                accepted:
                  summary: 'accepted response'
                  value: { status: 202, data: { jobId: ba5b8b9c-acbd-437d-80ce-76188dd347ee }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, errors: null }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Field ''employee-positions[0].employee_integration_id'' has error: ''The property employee_integration_id is required''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/employees_status:
    get:
      tags:
        - API
      summary: 'Get status about specific employee job'
      description: 'Return current status of some background job'
      operationId: getEmployeeJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/locations_status:
    get:
      tags:
        - API
      summary: 'Get status about specific location job'
      description: 'Return current status of some background job'
      operationId: getLocationsJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/positions_status:
    get:
      tags:
        - API
      summary: 'Get status about specific position job'
      description: 'Return current status of some background job'
      operationId: getPositionsJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/employee_positions_status:
    get:
      tags:
        - API
      summary: 'Get status about specific employee position job'
      description: 'Return current status of some background job'
      operationId: getEmployeePositionsJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/leave_types_status:
    get:
      tags:
        - API
      summary: 'Get status about specific leave type job'
      description: 'Return current status of some background job'
      operationId: getLeaveTypesJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/employee_leave_types_status:
    get:
      tags:
        - API
      summary: 'Get status about specific employee leave type job'
      description: 'Return current status of some background job'
      operationId: getEmployeeLeaveTypesJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  /api/v2/integration-api/bulk/leaves_status:
    get:
      tags:
        - API
      summary: 'Get status about specific leave job'
      description: 'Return current status of some background job'
      operationId: getLeavesJobStatus
      parameters:
        -
          name: job_id
          in: query
          description: 'Job id - valid UUID'
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { logId: { type: string }, jobId: { type: string }, integrationId: { type: string }, startedAt: { type: string }, finishedAt: { type: string }, status: { type: string, enum: [PENDING, PROCESSING, FAILED, FINISHED, CANCELED] }, numberOfRetries: { type: string }, vendorId: { type: integer }, vendorName: { type: string }, companyId: { type: integer }, companyName: { type: string }, syncType: { type: string }, parentSyncId: { type: string }, SyncDirection: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { logId: ceeb07fb-b461-4b29-bdeb-2f9355eda48b, jobId: b10e1838-eb78-45e1-888a-047e5a652d56, integrationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6, startedAt: null, finishedAt: null, status: PROCESSING, numberOfRetries: 0, vendorId: 0, vendorName: null, companyId: 11, companyName: null, syncType: null, parentSyncId: null, SyncDirection: null }, metadata: [], errors: null, token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                error:
                  summary: 'error response'
                  value: { status: 89, errors: [{ id: 01g4wkhtwcgfnd42w0dzwjy878, status: 400, state: BAD_REQUEST, title: '', detail: 'Invalid jobId provided: b10e1838-eb78-45e1-888a-047e5a652d56', source: [] }] }
        '500':
          $ref: '#/components/responses/500'
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  errors: { properties: { id: { type: string }, status: { type: integer }, state: { type: string }, title: { type: string }, detail: { type: string }, source: { type: object } }, type: object }
                type: object
              examples:
                'Bad Request':
                  summary: 'Bad Request'
                  value: { status: 89, errors: { id: 01gap45sjc1gk77t19xcyq0ymq, status: 400, state: BAD_REQUEST, title: '', detail: 'Job id is not valid uuid. Provided: lkajdklasd''', source: [] } }
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/leaves/{integrationId}':
    get:
      tags:
        - Integrations
      summary: 'Get a leave data'
      description: 'Return leave data for given integration id'
      operationId: getLeave
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseLeaveObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: { id: '3', user: '40050', store: '60', date: '1672841011', requested_on: { id: 4998, month: 1, day: 4, wday: 3, year: 2023, weekday: Wed, mname: Jan, week: 1, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Jan 4, 2023', iso8601: '2023-01-04T00:00:00+0100', time: '00:00', timestamp: 1672786800, hours: 0, minutes: 0, seconds: 0, date: '2023-01-04 00:00:00', day_of_year: '3', week_adjusted: 1, sp_wday: 4 }, approved_on: '0', status: '0', admin: '39778', comments: '', notes: '', start_day: { id: 5217, month: 8, day: 11, wday: 5, year: 2023, weekday: Fri, mname: Aug, week: 32, dayid: 6, timeid: 1, timeid_exact: 1, formatted: 'Aug 11, 2023', iso8601: '2023-08-11T00:00:00+0200', time: '00:00', timestamp: 1691704800, hours: 0, minutes: 0, seconds: 0, date: '2023-08-11 00:00:00', day_of_year: '222', week_adjusted: 32, sp_wday: 6 }, end_day: { id: 5216, month: 8, day: 10, wday: 4, year: 2023, weekday: Thu, mname: Aug, week: 32, dayid: 5, timeid: 1, timeid_exact: 1, formatted: 'Aug 10, 2023', iso8601: '2023-08-10T00:00:00+0200', time: '00:00', timestamp: 1691618400, hours: 0, minutes: 0, seconds: 0, date: '2023-08-10 00:00:00', day_of_year: '221', week_adjusted: 32, sp_wday: 5 }, requested_on_timestamp: '2023-01-04 00:00:00', start_timestamp: '2023-08-11 00:00:00', end_timestamp: '2023-08-11 00:00:00', leave_type: '68', approved_by: null, rejected_by: null, rejected_on: null, reason: null, is_hourly: '0', unique_id: null, deduct_days: '0', created_at: '2023-01-04 15:03:31', updated_at: '2023-01-04 15:06:04', deleted_at: null, created_by: '39778', updated_by: '39778', deleted_by: null, vendor_id: '11', leave_type_name: Vacation, dont_deduct_from_vac: '0', max_num_of_staff_at_once: '0', employee: '40050', employee_name: 'Istvam Kocovic', until: { id: 5217, month: 8, day: 11, wday: 5, year: 2023, weekday: Fri, mname: Aug, week: 32, dayid: 6, timeid: 1, timeid_exact: 1, formatted: 'Aug 11, 2023', iso8601: '2023-08-11T00:00:00+0200', time: '00:00', timestamp: 1691704800, hours: 0, minutes: 0, seconds: 0, date: '2023-08-11 00:00:00', day_of_year: '222', week_adjusted: 32, sp_wday: 6 }, length: 0, total_days: 0, total_quarters_used: 0, total_human_friendly: N/A, total_time_alotted: { 'y': 0, m: 0, d: 0, h: 0, i: 0, s: 0, f: 0, weekday: 0, weekday_behavior: 0, first_last_day_of: 0, invert: 0, days: 0, special_type: 0, special_amount: 0, have_weekday_relative: 0, have_special_relative: 0 }, integrations: { Workato: [{ id: '1', leave_id: 3, company_id: '60', integration_type: 11, integration_id: fd72fab7db654fa3adbbe83ca23c2023, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', error: 'Unable to find entity where integration_id=fd72fab7db654fa3adbbe83ca23c20236 and integration_type=11.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    delete:
      tags:
        - Integrations
      summary: 'Delete leave'
      description: 'Delete a leave with given integration id'
      operationId: deleteLeave
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseLeaveObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [], metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                error:
                  summary: 'error response'
                  value: { status: 14, data: 'Delete Failed - Your DELETE request failed', error: 'Unable to find entity where integration_id=152046dee350017fb2cf8a1a0b634139 and integration_type=11.', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/leaves':
    get:
      tags:
        - Integrations
      summary: 'Get all leaves'
      description: 'Return data about all leavs under the company'
      operationId: getLeaves
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
        -
          $ref: '#/components/parameters/start_date'
        -
          $ref: '#/components/parameters/end_date'
        -
          $ref: '#/components/parameters/mode'
        -
          $ref: '#/components/parameters/user_id'
        -
          $ref: '#/components/parameters/sortby'
        -
          $ref: '#/components/parameters/deleted'
        -
          $ref: '#/components/parameters/force_user_timezone'
        -
          $ref: '#/components/parameters/location'
        -
          $ref: '#/components/parameters/position'
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/full'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseLeaveObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                success:
                  summary: 'success response'
                  value: { status: 1, data: [{ id: '3', user: '40050', store: '60', date: '1672841011', requested_on: { id: 4998, month: 1, day: 4, wday: 3, year: 2023, weekday: Wed, mname: Jan, week: 1, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Jan 4, 2023', iso8601: '2023-01-04T00:00:00+0100', time: '00:00', timestamp: 1672786800, hours: 0, minutes: 0, seconds: 0, date: '2023-01-04 00:00:00', day_of_year: '3', week_adjusted: 1, sp_wday: 4 }, approved_on: '0', status: '0', admin: '39778', comments: '', notes: '', start_day: { id: 5217, month: 8, day: 11, wday: 5, year: 2023, weekday: Fri, mname: Aug, week: 32, dayid: 6, timeid: 1, timeid_exact: 1, formatted: 'Aug 11, 2023', iso8601: '2023-08-11T00:00:00+0200', time: '00:00', timestamp: 1691704800, hours: 0, minutes: 0, seconds: 0, date: '2023-08-11 00:00:00', day_of_year: '222', week_adjusted: 32, sp_wday: 6 }, end_day: { id: 5216, month: 8, day: 10, wday: 4, year: 2023, weekday: Thu, mname: Aug, week: 32, dayid: 5, timeid: 1, timeid_exact: 1, formatted: 'Aug 10, 2023', iso8601: '2023-08-10T00:00:00+0200', time: '00:00', timestamp: 1691618400, hours: 0, minutes: 0, seconds: 0, date: '2023-08-10 00:00:00', day_of_year: '221', week_adjusted: 32, sp_wday: 5 }, requested_on_timestamp: '2023-01-04 00:00:00', start_timestamp: '2023-08-11 00:00:00', end_timestamp: '2023-08-11 00:00:00', leave_type: '68', approved_by: null, rejected_by: null, rejected_on: null, reason: null, is_hourly: '0', unique_id: null, deduct_days: '0', created_at: '2023-01-04 15:03:31', updated_at: '2023-01-04 15:06:04', deleted_at: null, created_by: '39778', updated_by: '39778', deleted_by: null, vendor_id: '11', employee_name: 'Istvam Kocovic', leave_type_name: 'Example leave type', employee: '40050', until: { id: 5217, month: 8, day: 11, wday: 5, year: 2023, weekday: Fri, mname: Aug, week: 32, dayid: 6, timeid: 1, timeid_exact: 1, formatted: 'Aug 11, 2023', iso8601: '2023-08-11T00:00:00+0200', time: '00:00', timestamp: 1691704800, hours: 0, minutes: 0, seconds: 0, date: '2023-08-11 00:00:00', day_of_year: '222', week_adjusted: 32, sp_wday: 6 }, length: 0, total_days: 0, total_quarters_used: 0, total_human_friendly: N/A, total_time_alotted: { 'y': 0, m: 0, d: 0, h: 0, i: 0, s: 0, f: 0, weekday: 0, weekday_behavior: 0, first_last_day_of: 0, invert: 0, days: 0, special_type: 0, special_amount: 0, have_weekday_relative: 0, have_special_relative: 0 }, already_on_vacation: { count: 0, data: [] }, conflicts: { count: 0, data: [] }, integrations: { Workato: [{ id: '1', leave_id: 3, company_id: '60', integration_type: 11, integration_id: fd72fab7db654fa3adbbe83ca23c2023, extra: null }] } }, { id: '4', user: '40050', store: '60', date: '1673352390', requested_on: { id: 5004, month: 1, day: 10, wday: 2, year: 2023, weekday: Tue, mname: Jan, week: 2, dayid: 3, timeid: 1, timeid_exact: 1, formatted: 'Jan 10, 2023', iso8601: '2023-01-10T00:00:00+0100', time: '00:00', timestamp: 1673305200, hours: 0, minutes: 0, seconds: 0, date: '2023-01-10 00:00:00', day_of_year: '9', week_adjusted: 2, sp_wday: 3 }, approved_on: '0', status: '0', admin: '39778', comments: '', notes: '', start_day: { id: 5278, month: 10, day: 11, wday: 3, year: 2023, weekday: Wed, mname: Oct, week: 41, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Oct 11, 2023', iso8601: '2023-10-11T00:00:00+0200', time: '00:00', timestamp: 1696975200, hours: 0, minutes: 0, seconds: 0, date: '2023-10-11 00:00:00', day_of_year: '283', week_adjusted: 41, sp_wday: 4 }, end_day: { id: 5278, month: 10, day: 11, wday: 3, year: 2023, weekday: Wed, mname: Oct, week: 41, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Oct 11, 2023', iso8601: '2023-10-11T00:00:00+0200', time: '00:00', timestamp: 1696975200, hours: 0, minutes: 0, seconds: 0, date: '2023-10-11 00:00:00', day_of_year: '283', week_adjusted: 41, sp_wday: 4 }, requested_on_timestamp: '2023-01-10 00:00:00', start_timestamp: '2023-10-11 00:00:00', end_timestamp: '2023-10-12 00:00:00', leave_type: '68', approved_by: null, rejected_by: null, rejected_on: null, reason: null, is_hourly: '0', unique_id: null, deduct_days: '0', created_at: '2023-01-10 13:06:30', updated_at: '2023-01-10 13:06:30', deleted_at: null, created_by: '39778', updated_by: null, deleted_by: null, vendor_id: '11', employee_name: 'Istvam Kocovic', leave_type_name: Vacation, employee: '40050', until: { id: 5279, month: 10, day: 12, wday: 4, year: 2023, weekday: Thu, mname: Oct, week: 41, dayid: 5, timeid: 1, timeid_exact: 1, formatted: 'Oct 12, 2023', iso8601: '2023-10-12T00:00:00+0200', time: '00:00', timestamp: 1697061600, hours: 0, minutes: 0, seconds: 0, date: '2023-10-12 00:00:00', day_of_year: '284', week_adjusted: 41, sp_wday: 5 }, length: 1, total_days: 1, total_quarters_used: 32, total_human_friendly: 1day, total_time_alotted: { 'y': 0, m: 0, d: 1, h: 0, i: 0, s: 0, f: 0, weekday: 0, weekday_behavior: 0, first_last_day_of: 0, invert: 1, days: 1, special_type: 0, special_amount: 0, have_weekday_relative: 0, have_special_relative: 0 }, already_on_vacation: { count: 0, data: [] }, conflicts: { count: 0, data: [] }, integrations: { Workato: [{ id: '2', leave_id: 4, company_id: '60', integration_type: 11, integration_id: fd72fab7db654fa3adbbe83ca23c20231001, extra: null }] } }], metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                'success empty':
                  summary: 'empty response'
                  value: { status: 1, data: [], metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                error:
                  summary: 'error response'
                  value: { status: 15, data: 'Get Failed - Your GET request failed', error: 'Error happened while fetching integrations data', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
        - Integrations
      summary: 'Create or update leave'
      description: 'Create or update a leave with given integration id'
      operationId: createOrUpdateLeave
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'leave type create/update payload'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/leaveObject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ResponseLeaveObject' }
                  - { $ref: '#/components/schemas/ResponseObjectWithErrors' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutError' }
                  - { $ref: '#/components/schemas/ResponseObjectWithoutMetadata' }
              examples:
                'update success':
                  summary: 'update success response'
                  value: { status: 1, data: { id: '7', user: '40050', store: '60', date: '1673435011', requested_on: { id: 5005, month: 1, day: 11, wday: 3, year: 2023, weekday: Wed, mname: Jan, week: 2, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Jan 11, 2023', iso8601: '2023-01-11T00:00:00+0100', time: '00:00', timestamp: 1673391600, hours: 0, minutes: 0, seconds: 0, date: '2023-01-11 00:00:00', day_of_year: '10', week_adjusted: 2, sp_wday: 4 }, approved_on: '0', status: '0', admin: '39778', comments: '', notes: '', start_day: { id: 5186, month: 7, day: 11, wday: 2, year: 2023, weekday: Tue, mname: Jul, week: 28, dayid: 3, timeid: 1, timeid_exact: 1, formatted: 'Jul 11, 2023', iso8601: '2023-07-11T00:00:00+0200', time: '00:00', timestamp: 1689026400, hours: 0, minutes: 0, seconds: 0, date: '2023-07-11 00:00:00', day_of_year: '191', week_adjusted: 28, sp_wday: 3 }, end_day: { id: 5186, month: 7, day: 11, wday: 2, year: 2023, weekday: Tue, mname: Jul, week: 28, dayid: 3, timeid: 1, timeid_exact: 1, formatted: 'Jul 11, 2023', iso8601: '2023-07-11T00:00:00+0200', time: '00:00', timestamp: 1689026400, hours: 0, minutes: 0, seconds: 0, date: '2023-07-11 00:00:00', day_of_year: '191', week_adjusted: 28, sp_wday: 3 }, requested_on_timestamp: '2023-01-11 00:00:00', start_timestamp: '2023-07-11 00:00:00', end_timestamp: '2023-07-12 00:00:00', leave_type: '68', approved_by: '0', rejected_by: '0', rejected_on: '0', reason: null, is_hourly: '1', unique_id: null, deduct_days: '0', created_at: '2023-01-11 12:03:31', updated_at: '2023-01-11 12:03:31', deleted_at: null, created_by: 39778, updated_by: null, deleted_by: null, vendor_id: '11', leave_type_name: Vacation, dont_deduct_from_vac: '0', max_num_of_staff_at_once: '0', employee: '40050', employee_name: 'Istvam Kocovic', until: { id: 5187, month: 7, day: 12, wday: 3, year: 2023, weekday: Wed, mname: Jul, week: 28, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Jul 12, 2023', iso8601: '2023-07-12T00:00:00+0200', time: '00:00', timestamp: 1689112800, hours: 0, minutes: 0, seconds: 0, date: '2023-07-12 00:00:00', day_of_year: '192', week_adjusted: 28, sp_wday: 4 }, length: 1, total_days: 1, total_quarters_used: 32, total_human_friendly: 1day, total_time_alotted: { 'y': 0, m: 0, d: 1, h: 0, i: 0, s: 0, f: 0, weekday: 0, weekday_behavior: 0, first_last_day_of: 0, invert: 1, days: 1, special_type: 0, special_amount: 0, have_weekday_relative: 0, have_special_relative: 0 }, integrations: { Workato: [{ id: '5', leave_id: 7, company_id: '60', integration_type: 11, integration_id: fd72fab7db654fa3adbbe83ca23c20231101, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                'create success':
                  summary: 'create success response'
                  value: { status: 1, data: { id: '7', user: '40050', store: '60', date: '1673435011', requested_on: { id: 5005, month: 1, day: 11, wday: 3, year: 2023, weekday: Wed, mname: Jan, week: 2, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Jan 11, 2023', iso8601: '2023-01-11T00:00:00+0100', time: '00:00', timestamp: 1673391600, hours: 0, minutes: 0, seconds: 0, date: '2023-01-11 00:00:00', day_of_year: '10', week_adjusted: 2, sp_wday: 4 }, approved_on: '0', status: '0', admin: '39778', comments: '', notes: '', start_day: { id: 5186, month: 7, day: 11, wday: 2, year: 2023, weekday: Tue, mname: Jul, week: 28, dayid: 3, timeid: 1, timeid_exact: 1, formatted: 'Jul 11, 2023', iso8601: '2023-07-11T00:00:00+0200', time: '00:00', timestamp: 1689026400, hours: 0, minutes: 0, seconds: 0, date: '2023-07-11 00:00:00', day_of_year: '191', week_adjusted: 28, sp_wday: 3 }, end_day: { id: 5186, month: 7, day: 11, wday: 2, year: 2023, weekday: Tue, mname: Jul, week: 28, dayid: 3, timeid: 1, timeid_exact: 1, formatted: 'Jul 11, 2023', iso8601: '2023-07-11T00:00:00+0200', time: '00:00', timestamp: 1689026400, hours: 0, minutes: 0, seconds: 0, date: '2023-07-11 00:00:00', day_of_year: '191', week_adjusted: 28, sp_wday: 3 }, requested_on_timestamp: '2023-01-11 00:00:00', start_timestamp: '2023-07-11 00:00:00', end_timestamp: '2023-07-12 00:00:00', leave_type: '68', approved_by: '0', rejected_by: '0', rejected_on: '0', reason: null, is_hourly: '0', unique_id: null, deduct_days: '0', created_at: '2023-01-11 12:03:31', updated_at: '2023-01-11 12:03:31', deleted_at: null, created_by: 39778, updated_by: null, deleted_by: null, vendor_id: '11', leave_type_name: Vacation, dont_deduct_from_vac: '0', max_num_of_staff_at_once: '0', employee: '40050', employee_name: 'Istvam Kocovic', until: { id: 5187, month: 7, day: 12, wday: 3, year: 2023, weekday: Wed, mname: Jul, week: 28, dayid: 4, timeid: 1, timeid_exact: 1, formatted: 'Jul 12, 2023', iso8601: '2023-07-12T00:00:00+0200', time: '00:00', timestamp: 1689112800, hours: 0, minutes: 0, seconds: 0, date: '2023-07-12 00:00:00', day_of_year: '192', week_adjusted: 28, sp_wday: 4 }, length: 1, total_days: 1, total_quarters_used: 32, total_human_friendly: 1day, total_time_alotted: { 'y': 0, m: 0, d: 1, h: 0, i: 0, s: 0, f: 0, weekday: 0, weekday_behavior: 0, first_last_day_of: 0, invert: 1, days: 1, special_type: 0, special_amount: 0, have_weekday_relative: 0, have_special_relative: 0 }, integrations: { Workato: [{ id: '5', leave_id: 7, company_id: '60', integration_type: 11, integration_id: fd72fab7db654fa3adbbe83ca23c20231101, extra: null }] } }, metadata: [], token: b1e43398e00b11ec9d640242ac120002aaf78e14, error: null }
                'create invalid param error':
                  summary: 'create invalid param error response'
                  value: { status: 89, errors: [{ id: 01gpg9jtdg51jesgzqgax3j2cj, status: 400, state: BAD_REQUEST, title: '', detail: 'Field ''is_hourly'' has error: ''String value found, but an integer is required''', source: [] }, { id: 01gpg9jtdmdhgar5xywc80ta1h, status: 400, state: BAD_REQUEST, title: '', detail: 'Field ''is_hourly'' has error: ''Does not have a value in the enumeration {0,1}''', source: [] }] }
                'update error':
                  summary: 'update error response'
                  value: { status: 8, data: 'Missing parameters - Your request is missing a required parameter', error: 'missing: integration_id', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
                'update permissions error':
                  summary: 'update permissions error response'
                  value: { status: 13, data: 'Update Failed - Your UPDATE request failed', error: 'You don''t have permission to perform this action', token: b1e43398e00b11ec9d640242ac120002aaf78e14 }
        '500':
          $ref: '#/components/responses/500'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  '/api/v2/integration-api/{vendorType}/bulk/leaves_async':
    post:
      tags:
        - Integrations
      summary: 'Create or update leaves - bulk operation'
      description: 'Create or update each leave sent through a bulk request'
      operationId: bulkCreateOrUpdateLeave
      parameters:
        -
          $ref: '#/components/parameters/vendorType'
      requestBody:
        description: 'bulk leave create/update payload'
        required: true
        content:
          application/json:
            schema:
              properties:
                leaves:
                  type: array
                  items: { $ref: '#/components/schemas/bulkLeaveObject' }
              type: object
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                properties:
                  status: { type: integer }
                  data: { properties: { jobId: { type: string } }, type: object }
                  metadata: { type: object }
                  errors: { type: object }
                  token: { type: string }
                type: object
[...]
